<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N° Usuario</th>
        <th scope="col">Fecha</th>
        <th scope="col">Localidad</th>
        <th scope="col">Motivo/Causa</th>
        <th scope="col">Solucionado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">30106648</th>
        <td><input type="datetime-local"></td>
        <td><select name="choice">
              <option value="first">Villa Olivari</option>
              <option value="second" selected>Ituzaingó</option>
              <option value="third">Zona Rural</option>
           </select>
         </td>
        <td>
          <select name="choice">
            <option value="first">Morceto</option>
            <option value="second" selected>Cable Cortado</option>
            <option value="third">Fusible Aereo</option>
            <option value="third">Baja Tension</option>
            <option value="third">Poste Caido</option>
            <option value="third">Medidor Dañado</option>
            <option value="third">Sin Servicio</option>
         </select>
        </td>
        <td><input type="checkbox" class="custom-control-input" id="same-address"></td>
      </tr>
      <tr>
        <th scope="row">30206014</th>
        <td><input type="datetime-local"></td>
        <td><select name="choice">
              <option value="first">Villa Olivari</option>
              <option value="second" selected>Ituzaingó</option>
              <option value="third">Zona Rural</option>
           </select>
         </td>
        <td>
          <select name="choice">
            <option value="first">Morceto</option>
            <option value="second" selected>Cable Cortado</option>
            <option value="third">Fusible Aereo</option>
            <option value="third">Baja Tension</option>
            <option value="third">Poste Caido</option>
            <option value="third">Medidor Dañado</option>
            <option value="third">Sin Servicio</option>
         </select>
        </td>
        <td><input type="checkbox" class="custom-control-input" id="same-address"></td>
      <tr>
        <th scope="row">30113809</th>
        <td><input type="datetime-local"></td>
        <td><select name="choice">
              <option value="first">Villa Olivari</option>
              <option value="second" selected>Ituzaingó</option>
              <option value="third">Zona Rural</option>
           </select>
         </td>
        <td>
          <select name="choice">
            <option value="first">Morceto</option>
            <option value="second" selected>Cable Cortado</option>
            <option value="third">Fusible Aereo</option>
            <option value="third">Baja Tension</option>
            <option value="third">Poste Caido</option>
            <option value="third">Medidor Dañado</option>
            <option value="third">Sin Servicio</option>
         </select>
        </td>
        <td><input type="checkbox" class="custom-control-input" id="same-address"></td>
      </tr>
      
      
    </tbody>
  </table>