<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand{12-xl}">

  <div>
    <a class="navbar-brand col-lg-5"> <img src="../../../assets/logo.png"> </a>
  </div>

  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Instructivos</a>
      </li>
      <li class="nav-item dropdown">
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse col-lg-5" id="navbarSupportedContent">
    <img src="../../../assets/ceroOchocientos.png" class="rounded float-end" alt="...">
  </div > 
  <a href="/home"><button type="button" class="btn btn-success" >CERRAR SESION</button></a>
</nav>